<!doctype html>
<html ng-app="dockership">
  <head>
    <title>Dockership</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
    <script src="https://cdn.rawgit.com/jimhigson/oboe.js/master/dist/oboe-browser.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-animate.js"></script>
    <script src="https://cdn.rawgit.com/chieffancypants/angular-loading-bar/0.6.0/build/loading-bar.min.js"></script>
    <script src="/app.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/darkly/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.rawgit.com/chieffancypants/angular-loading-bar/0.6.0/build/loading-bar.min.css" rel="stylesheet">
    <style>
        html, body { padding:0 60px 0 60px;}
        .deploy-log { max-height: 420px; overflow-y: auto; }
        .avatar  {padding-top:10px;}
        .avatar img { margin-left:10px; width:30px; height:30px; border-radius:50% 50% 50% 50%; border-color: #0ce3ac; border-width:10px; }
        #loading-bar .bar { background: #0ce3ac; }
        #loading-bar-spinner .spinner-icon { border-top-color:  #fff; border-left-color: #fff;}
    </style>
  </head>
  <body ng-cloak>
    <div ng-controller="MainCtrl" id="main">
        <div class="page-header">
          <div class="row">
            <div class="col-lg-6">
              <h1 id="buttons"><span class="glyphicon glyphicon-import"></span> Dockership</h1>
            </div>
            <div class="col-lg-6">
              <p class="navbar-text navbar-right avatar">
                Signed in as <a href="/logout" class="navbar-link">{{user.Fullname}}</a>
                <img ng-src="{{user.Avatar}}" />
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default" ng-repeat='p in groups'>
          <div class="panel-heading">
              <b>{{p.Project.Name}}</b>&nbsp;&nbsp;
              <span class="label label-info">
                {{p.Project.Repository}}
              </span>&nbsp;
              <span class="label label-info">
                {{p.Project.Branch}}
              </span>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th class="col-md-2">Enviroment</th>
                <th class="col-md-2">Last Revision</th>
                <th class="col-md-2">Running Revision</th>
                <th class="col-md-2">Server</th>
                <th class="col-md-2">Containers</th>
                <th class="col-md-2">Status</th>
                <th class="col-md-2">Containers</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='s in p.Status' ng-class="
                s.RunningContainers.length == 0 ? 'danger' : isDeployable(s) ? 'warning': ''">
                <td><b>{{s.Enviroment.Name}}</b>
                </td>
                <td>{{s.LastRevisionLabel.slice(0,12)}}</td>
                <td>{{s.RunningContainers[0].Image.split(':')[1]}}</td>
                <td>{{s.Enviroment.DockerEndPoint.slice(7, s.Enviroment.DockerEndPoint.length)}}</td>
                <td>
                  <a href="#" class="success" ng-click="openContainers(p.Project)">
                    <span class="badge success">{{s.Containers.length}}</span>
                  </a>
                </td>
                <td>
                  <span ng-if="s.RunningContainers.length != 0">
                    {{s.RunningContainers[0].Status}}
                  </span>
                  <span ng-if="s.RunningContainers.length == 0">
                    Down
                  </span>
                </td>
                <td>
                  <button ng-if="!isDeployable(s)"
                    type="button"
                    ng-click="openDeploy(p, s.Enviroment)"
                    class="btn btn-success btn-xs">
                       <span class="glyphicon glyphicon-saved"></span>
                       Up-to-date
                  </button>
                  <button ng-if="isDeployable(s)"
                    type="button"
                    ng-click="openDeploy(p, s.Enviroment)"
                    class="btn btn-primary btn-xs">
                       <span class="glyphicon glyphicon-import"></span>
                       Deploy {{s.LastRevisionLabel.slice(0,12)}}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div id="footer" ng-cloack>
        <p class="muted credit">Powered by <a href="https://github.com/mcuadros/dockership">Dockership</a> MIT License</p></p>
      </div>
    </div>
    <script type="text/ng-template" id="ContainersContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Containers <b>{{project.Name}}</b></h3>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th class="col-md-2">Revision</th>
                <th class="col-md-2">Container ID</th>
                <th class="col-md-2">Created</th>
                <th class="col-md-2">Command</th>
                <th class="col-md-2">Status</th>
                <th class="col-md-2">Ports</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='c in containers'>
                <td><b>{{c.Container.Image}}</b></td>
                <td>{{c.Container.Id.slice(0, 12)}}</td>
                <td>{{c.Container.Created}}</td>
                <td>{{c.Container.Command}}</td>
                <td>{{c.Container.Status}}</td>
                <td>
                  <span ng-repeat='p in c.Container.Ports'>
                    {{p.IP}}:{{p.PublicPort}}:{{p.PrivatePort}}/{{p.Type}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" ng-click="cancel()">Close</button>
        </div>
    </script>
    <script type="text/ng-template" id="DeployContent.html">
        <div class="modal-header">
            <h3 class="modal-title">
                Deploying <b>{{project.Project.Name}}</b> @ <b>{{enviroment.Name}}</b>
                <small>
                    Revision <b>{{project.Status[enviroment.Name].LastRevisionLabel}}</b>
                </small>
            </h3>
        </div>
        <div class="modal-body deploy-log">
          <table class="table">
            <thead>
              <tr>
                <th class="col-md-1">Level</th>
                <th class="col-md-2">Time</th>
                <th class="col-md-4">Message</th>
                <th class="col-md-5">Params</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='line in data track by $index'>
                <td>
                    <span class="label label-primary" ng-if="line.lvl == 0">Critical</span>
                    <span class="label label-danger" ng-if="line.lvl == 1">Error</span>
                    <span class="label label-warning" ng-if="line.lvl == 2">Warning</span>
                    <span class="label label-info" ng-if="line.lvl == 3">Info</span>
                    <span class="label label-default" ng-if="line.lvl == 4">Debug</span>
                </td>
                <td><small>{{line.t.slice(0,19)}}</small></td>
                <td><b>{{line.msg}}</b></td>
                <td>
                  <p
                    ng-repeat='(n, p) in line'
                    ng-if='n != "t" && n != "msg" && n != "lvl"'>
                    <span class="label label-default">{{n}}: {{p}}</span>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" ng-click="cancel()">Close</button>
        </div>
    </script>
  </body>
</html>
